*{
    box-sizing: border-box;
}
.calculator{
    display: flex;
    flex-direction: column;
    background-color: rgba(221, 100, 237, 0.575);
    align-items: center;
    
    height: 100vh;
    justify-content: center;
}
.container{
background: rebeccapurple;
display: flex;
flex-direction: column;

}
.display{
    background-color: darkred;
 
    height: 100px;
}
.buttons{
    display: flex;
    height: 250px;
    width: 400px;
  
}
#number, #opr{
   border-radius: 15px;
    background: #73AD21;
    padding: 20px;

}
